html,body{
	margin:0px;
	padding:0px;
}
::-webkit-input-placeholder {
  font-style:italic; 
  font-size:0.8em;
}

:-moz-placeholder { /* Firefox 18- */
   font-style:italic;  
   font-size:0.8em;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style:italic; 
   font-size:0.8em; 
}

:-ms-input-placeholder {  
   font-style:italic;  
   font-size:0.8em;
}

body,html{
	margin:0px;
	padding:0px;
}


.ui-component{
	padding:1px;
}
.disabled{
	opacity:0.8 !important;
}
.disabled:hover{
	color:auto !important;
	font-style:auto !important;
}
.disabled:hover input{
	color:#808080 !important;
	font-style:normal !important;
}

.hide-component
{
	display:none !important;
}
.ui-pack{
	overflow:hidden;
	display:block !important;
	float:normal !important;
	width:auto !important;
	height:auto !important;
}
:local .loading
{	
	background-repeat: no-repeat;
	background-position: 94% center;
	background-size:15px 15px;
	padding-left:30px;
	background-image:url("../images/icons/loading.gif");

	}
.ui-error-message
{
	color:red !important;
}
.error{
	color:red !important ;
	text-align:left;
	font-style:italic;
}
.error p{
	margin:0px;
	padding:0px;
}
.btn-critical
{
	background-color:   #d9d9d9 !important;
	color:#000 !important;
}
.txt-disable{
	opacity: 0.8;
}
.component-width-100{
	width:100% !important;
}

.show-component{
	display:block !important;
}

.topmost{
	z-index:1 !important;
}

.ui-right{
	float:right !important;
}

.ui-portal-container.portal
{
  overflow:hidden !important;
}

.ui-transparent{
	background-color:transparent !important;
}
.ui-transparent * {
  background-color:transparent !important;
}

