.ui-modal-dialog
{
	width:100% !important;
    height:100% !important;
    position:fixed !important; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color:#cccccc;
    background-color: rgb(204, 204, 204) ; /* Fallback color */
    background-color: rgba(204, 204, 204, 0.8) ; /* Black w/ opacity */
    background-position: 0px 0px;
}

.ui-modal-dialog .ui-modal-content
{
	position:absolute;
    min-width: 100px; /* Could be more or less, depending on screen size */    
    min-height:100px;
    overflow:hidden;
   
}